@import "variables";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $bg-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $primary-color;
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		color: lighten($primary-color, 10%);
	}
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}
