@import "variables";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $bg-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $primary-color;
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		color: lighten($primary-color, 10%);
	}
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}
.rich-text-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 1em;
		font-weight: bold;
	}
	p {
		margin-bottom: 1em;
		line-height: 1.6;
	}
	ol,
	ul {
		margin-bottom: 1em;
		padding-left: 2em;
	}
	ol {
		list-style-type: decimal;
	}
	ul {
		list-style-type: disc;
	}
	li {
		margin-bottom: 0.5em;
	}
	img {
		max-width: 100%;
		height: auto;
		margin: 1em 0;
	}
	blockquote {
		border-left: 4px solid #ddd;
		padding-left: 1em;
		color: #666;
		margin: 1em 0;
	}
	code {
		background-color: #f5f5f5;
		padding: 0.2em 0.4em;
		border-radius: 3px;
	}
	pre {
		background-color: #f5f5f5;
		padding: 1em;
		overflow: auto;
		border-radius: 5px;
		margin: 1em 0;
	}
}
.container {
	max-width: 1400px;
	padding: 0 40px;
	margin: 0 auto;
}
@media (max-width: 768px) {
	.container {
		padding: 0 20px;
	}
}
