@import "variables";

// Media Queries
@mixin respond-to($breakpoint) {
	@if $breakpoint == "sm" {
		@media (min-width: $breakpoint-sm) {
			@content;
		}
	} @else if $breakpoint == "md" {
		@media (min-width: $breakpoint-md) {
			@content;
		}
	} @else if $breakpoint == "lg" {
		@media (min-width: $breakpoint-lg) {
			@content;
		}
	} @else if $breakpoint == "xl" {
		@media (min-width: $breakpoint-xl) {
			@content;
		}
	}
}

// Flexbox Center
@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Text Ellipsis
@mixin text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Clearfix
@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
