@import "variables";
@import "mixins";

.mt-1 {
	margin-top: $spacing-sm;
}
.mt-2 {
	margin-top: $spacing-md;
}
.mt-3 {
	margin-top: $spacing-lg;
}
.mt-4 {
	margin-top: $spacing-xl;
}

.mb-1 {
	margin-bottom: $spacing-sm;
}
.mb-2 {
	margin-bottom: $spacing-md;
}
.mb-3 {
	margin-bottom: $spacing-lg;
}
.mb-4 {
	margin-bottom: $spacing-xl;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.hidden {
	display: none;
}

.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
