.footer {
	background: #eeeeed;
	padding: 40px 0 0;

	.footerContainer {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 24px;
	}

	.footerContent {
		padding-bottom: 40px;
	}

	.mapContainer {
		width: 100%;
		height: 300px;
		background: #f5f5f5;

		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}

	.footerBottom {
		border-top: 1px solid #eee;
		padding: 20px 0;
		text-align: center;
		background: #f5f1e2;
		p {
			margin: 0;
			font-size: 14px;
		}
	}
}
